<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <title>Weather App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-dark d-flex align-items-center justify-content-center vh-100">

    <div class="card p-4 shadow" style="width:380px">

        <h3 class="text-center mb-3">Weather App</h3>

        <div class="d-flex mb-3">
            <button class="btn btn-primary w-50" onclick="showLogin()">Login</button>
            <button class="btn btn-secondary w-50" onclick="showRegister()">Register</button>
        </div>

        <!-- LOGIN -->

        <form id="loginForm">

            <input type="email" class="form-control mb-3" placeholder="Email" id="loginEmail" required>

            <input type="password" class="form-control mb-3" placeholder="Password" id="loginPassword" required>

            <button class="btn btn-primary w-100">
                Login
            </button>

        </form>

        <!-- REGISTER -->

        <form id="registerForm" style="display:none">

            <input type="text" class="form-control mb-3" placeholder="Username" id="registerUsername" required>

            <input type="email" class="form-control mb-3" placeholder="Email" id="registerEmail" required>

            <input type="password" class="form-control mb-3" placeholder="Password" id="registerPassword" required>

            <button class="btn btn-success w-100">
                Register
            </button>

        </form>

    </div>

    <script src="/js/login.js"></script>

</body>

</html>